.wrapper-home {
    margin-top: 10px;
    min-height: 1000px;
    width: 100%;
}

.post-home {
    width: 100%;
    height: auto;
}

// news- post
.news-wrapper {
    margin-top: 5px;
    width: 100%;
    height: auto;
    // border: 2px solid green;
}

.news-title {
    width: 15%;
    background-color: green;
}

.text-news {
    color: var(--white);
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: 500;
}

.newss {
    width: 100%;
    display: flex;
    min-height: 263px;
    padding-bottom: 5px;
}

.news {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    display: block;
    // border: 1px solid green;
    width: 20%;
    height: 263px;
    overflow: hidden;

    &:hover {
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.title-news {
    margin-left: 5px;
    margin-top: 2px;
    padding-bottom: 5px;
}

.news-img {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.news-text {
    margin-left: 5px;
}

//posts-wrapper
.post-wrapper {
    display: flex;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    // border: 2px solid rgb(66, 47, 127);
}
.post-left {
    width: 75%;
    height: auto;
    // border: 2px solid rgb(66, 47, 127);
}

.post-title {
    width: 15%;
    background-color: green;
}

.text-post {
    color: var(--white);
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: 500;
}

.posts {
    padding-left: 5px;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

.post {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    display: block;
    // border: 1px solid green;
}

.title-post {
    margin-left: 5px;
    margin-top: 2px;
    padding-bottom: 5px;
}
.img-post {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-img {
    text-align: center;
}

.post-text {
    margin-bottom: 8px;
    margin-left: 5px;
}

///advertise
.advertise {
    width: 30%;
    overflow: hidden;
    background-color: #ededed;
}

.title-advertise {
    padding-left: 5px;
}

.box-img {
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.img-box {
    position: relative;
    width: auto;
    height: auto;
}

.img {
    width: 96%;
    margin-left: 6px;
}

.title-img {
    width: 170px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    transform: translate(-50%, -50%);
}
