.wrapper {
    padding-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: column; //xep chieu doc
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
    background-color: var(--white);
}

// content

.content {
    flex: 1; //chiem khoan trong con lai
    background-color: #cbcde312;
}

.content-left {
    width: 15%;
}

.content-right {
    width: 15%;
}

//News
.news-wrapper {
    margin-top: 5px;
    width: 100%;
    height: auto;
    // border: 2px solid green;
}

.news-title {
    width: 15%;
    background-color: green;
}

.text-news {
    color: var(--white);
    padding-left: 5px;
    font-size: 1.6rem;
    font-weight: 500;
}
