.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column; //xep chieu doc
    align-items: center;
}

.container {
    width: 100%;
    max-width: 100%;
    display: flex;
}

.content {
    flex: 1; //chiem khoan trong con lai
}
