.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    --search-width: 361px;

    width: 100%;
    height: var(--Default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
.inner {
    height: 100%;
    width: var(--Default-layout-width);
    padding: 0 var(--Default-layout-horizontal-spacer);
    padding-right: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-news {
    width: 100px;
}

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    background-color: transparent;
    border: none;
    padding: 8px 6px 6px;
    padding-left: 20px;
    cursor: pointer;
}

.btn-dn {
    margin-right: 9px;
    border-color: rgba(232, 128, 17, 1);
}

.btn-dk,
.btn-dn {
    color: var(--white);
    font-size: 1.2rem;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
